/*
color palette:
	Sharp Green: #7b2
	Dashing Green: #196
	Keen Green: #144
	Old as the Earth: #322
	Seen About Brown: #730
	Cream: #ffd;
*/

body {
	width:960px;
	margin:0px auto;
	background-color:#322;
}

h1 {
	
}

h1 a {
	text-decoration:none;
	color:#7b2;
}

section, nav {
	border:10px solid #144;
	border-radius:20px;
	box-shadow: 0px 5px 20px #181818;
	background-color: #ffd;
	padding:5px;
	margin-bottom:20px;
}

nav ul {
	margin:5px;
	padding:0px;
	list-style:none;
}

nav li {
	display:inline-block;
	margin-right:5px;
}
nav li:first-child {
	font-weight:bold;
}
nav li:last-child {
	margin-right:0px;
	float:right;
}

table {
	margin:5px auto;

}

td, th {
	padding:5px 10px;
}

label {
	display:inline-block;
	width:90px;
}

.error {
	color:#f00;
	font-weight:bold;
}

.welcome {
	font-size:20px;
	text-align:center;
	font-weight:bold;
	margin-bottom:20px;
}

h2 {
	margin:0px 5px 10px;
}